<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주문결제내역</title>
</head>
<body>
	<!-- Orders 테이블 -->
	<table border="1" class="table">
		<tr>
			<td>
				주문 번호:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
			<td>
				주문자:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
		</tr>
		<tr>
			<td>
				주문일시:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
			<td>
				항목:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
		</tr>
		<tr>
			<td>
				주문일시:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
			<td>
				항목:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
		</tr>
		<tr>
			<td>
				수분일시:
			</td>
			<td>
				<textarea cols="20" rows></textarea>
			</td>
			<td>
				항목:
			</td>
			<td>
				<input type="text" name="name" value="" />
			</td>
		</tr>
	</table>
	<br />
	<input type="button" name="btnOrder" value="주문추가" />
	<br />
	<!-- OrderDeta 테이블 -->
	<table>
		<tr>
			<td>
				제품명
			</td>
		</tr>
	</table>
</body>
</html>