<html layout:decorate="~{layout}">
<!-- 스크립트 블록을 정의 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/order-success-ui.js}"></script>
</th:block>
    <main layout:fragment="content" class="container" id="container">
      <h2 class="fw-bold text-center">결제 완료</h2>
      <br />
      <br />

      <div class="card mb-3">
        <div class="card-body">
          <h4 class="mb-3">주문 상품(주문번호: n{pay테이블 idx})</h4>
          <table  id="dataArrayList" class="table table-borderless align-middle text-center">
            <tr>
            </tr>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h4 class="mb-3">주문자 정보</h4>
              <p>이름: <span id="name"></span></p>
              <p>휴대폰 번호: <span id="phone"></span></p>
              <!-- 주문조회용 비밀번호는 로그인하지 않았을 때만 출력 -->
              <p>주문 조회용 비밀번호: <span id="pw"></span></p>
            </div>
          </div>
          <div class="col">
            <div class="card-body">
              <h4 class="mb-3">배송 정보</h4>
              <p>{postcode}</p>
              <p>{배송지 주소 address}</p>
              <p>{상세주소 detailAddress}</p>
              <p>{배송 시 택배기사에게 요청사항}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body mx-auto" style="width: 1256px !important">
          <div class="d-flex justify-content-between">
            <h4>총 가격: <span id="totalSum">0</span></h4>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mb-3">결제 취소 & 환불 받기</button>
    </main>
</html> 