<html layout:decorate="~{layout}">
<!-- 스크립트 블록을 정의 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/basket-ui.js}"></script>
</th:block>
<main layout:fragment="content" class="container" id="container">
	<form action="order">
		<h2 class="fw-bold text-center">장바구니 목록</h2>
		<br> <br> <input class="form-check-input" type="checkbox"
			value="selectall" id="select_all" /> <label id="select_all">&nbsp;전체
			선택</label>
		<table class="table align-middle text-center "
			style="margin-bottom: 80px;">
			<thead>
				<tr>
					<th colspan="7"></th>
				</tr>
			</thead>
			<tbody id="dataArrayList">
			</tbody>
		</table>
		<div id="dataNotFound"></div>
		<div class="card fixed-bottom">
			<div class="card-body mx-auto" style="width: 1280px !important;">
				<div class="contents d-flex justify-content-between">
					<h4>총 가격: <span id="totalSum">0</span></h4>
					<button type="submit" class="btn btn-primary" id="order" disabled>주문하기</button>
				</div>