<nav th:fragment="headerfragment">
    <div class="list-group">
        <a id="linkUserUp" class="list-group-item list-group-item-action" th:href="@{|/user/userup|}">회원정보 수정</a>
        <a id="linkUserDel" class="list-group-item list-group-item-action" th:href="@{|/user/userdel|}">회원탈퇴</a>
        <a id="linkBuy" class="list-group-item list-group-item-action" th:href="@{|/user/buy|}">주문내역</a>
        <a id="linkPay" class="list-group-item list-group-item-action" th:href="@{|/user/pay|}">결제수단</a>
    </div>
</nav>