<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom pb-2">
        <div>
            <h5>회원가입</h5>		
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}"  method="post">
        
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>    	
        
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" th:field="*{email}" placeholder="email@example.com" class="form-control" required="required">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="text" th:field="*{password1}" placeholder="Password" class="form-control" required="required">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="text" th:field="*{password2}" placeholder="Password" class="form-control" required="required">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자 이름</label>
            <input type="text" th:field="*{username}" placeholder="Name" class="form-control" required="required">
        </div>
        
        <input type="submit" value="회원가입" class="btn btn-primary my-2">
    </form>
</div>
</html>
