<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3" style="display:flex">
    <div style="width:230px;padding:0 10px">
        <nav th:replace="~{user/mynav :: headerfragment}"></nav>
    </div>
    <div class="main-content" style="width:700px;padding-left:50px">
	    <h3>사용자 정보</h3>
	    <hr>
	    <div class="mb-3">
	        <label for="name" class="form-label">이름</label>
	        <span th:text="${name}" class="form-control"></span>
	        <label for="email" class="form-label">이메일</label>
	        <span th:text="${email}" class="form-control"></span>
	        <label for="provider" class="form-label">로그인 방법</label>
	        <span th:text="${provider}" class="form-control"></span>
	    </div>
    </div>
</div>
</html>