<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<title>레이아웃</title>
	<body>
		책 제목 : <br>
		<span th:text="${session.s_title}"></span><br>
		<img th:src="${session.s_img}" /><br>
		<span th:text="${session.s_price}"></span><br>
		<a th:href="@{/session}">섹션테스트 이동</a><br>
		js로 간단하게 만든 장바구니.
		<!--session으로 장바구니 여부봐야겠지-->
		<a href="#" onclick="aa()">장바구니</a><br>
		<a href="#">바로구매</a><br>
		<hr>
		<br>
		<h3>책소개</h3><br>
		<span th:text="${C_detail}"></span>
	</body>
	
		<script>
			let click = false;
			function aa() {
				if(!click){
					alert('장바구니에 추가되었습니다.');
					click = true;
				}else {
					alert('이미 장바구니에 있습니다.');
				}
			}
		</script>
</div>
</html>