<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<title>상품페이지</title>
	<style>
		a {
			text-decoration: none;
		}
		
		.flex_wrap {
			display: flex;
			gap: 50px;
		}
		
	</style>
	</head>
	<body>
	<a href="">베스트 셀러</a>
	<a href="#">소설</a>
	<a href="#">외국</a>
	<!--검색-->
    <input type="text" id="search_kw" th:value="${kw}">
    <button id="search_btn">검색</button>
	
	<form th:action="@{|/prod/${b_genre}|}" method="get" id="searchForm">
        <input type="hidden" id="send_kw" name="kw" th:value="${kw}">
    </form>
	
	
	<!--b_list는 여기서 새로 만든 리스트. C_books의 리스트를 참조하겠단뜻-->
	<!--each는 반복. for문이랑 같음. 그안에 있는것들을 반복하겠다.-->
	<div th:each = "b_list : ${C_Books}" th:if="${b_genre} == ${b_list.book_genre}">
		<div class="flex_wrap">
			<!--|prod/다음부턴 controller에서 map으로 잡아줘야한다.-->
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<!--Crawling에서 builder로 정한 변수?명-->
				<img th:src = "${b_list.book_img}" />
			</a>
		<div class="txt_wrap">
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<!-- <div th:text = "${b_list.book_id}"></div> -->
				<div th:text = "${b_list.book_title}"></div>
				<div th:text = "${b_list.book_price}"></div>
				<div th:text = "'장르 ' + ${b_list.book_genre}"></div>
				<div th:text = "${b_list.book_writer}"></div>
				<div th:text = "${b_list.book_intro}"></div>
			</a>
		</div>
		</div>
	<hr>
	</div>
	</body>
	
	<script th:inline="javascript">
	const btn = document.getElementById("search_btn");
	
	// 클릭 이벤트가 일어났을때 사용될 함수.
	btn.addEventListener('click', function() {
		// 검색창(search_kw)에서 입력된 값을 send_kw라는 인풋값에 할당함. 그리고 searchForm을 서버에 전송함.
	    document.getElementById('send_kw').value = document.getElementById('search_kw').value;
	    document.getElementById('searchForm').submit();
	});
	
	</script>
</div>
</html>