<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<title>상품페이지</title>
	<link rel="stylesheet" th:href="@{/css/prod.css}" type="text/css">
	</head>
	<body>
	<a th:href="@{|/prod|}">모두 보기</a>
	<a th:href="@{|/prod?genre=베스트셀러|}">베스트 셀러</a> | <a th:href="@{|/prod?genre=소설|}">소설</a> 
	| <a th:href="@{|/prod?genre=시/에세이|}">시/에세이</a> | <a th:href="@{|/prod?genre=인문학|}">인문학</a> 
	| <a th:href="@{|/prod?genre=역사/문화|}">역사/문화</a><br>
	<!--
	<div th:if="${C_Books != null}" th:text="|${#lists.size(C_Books.book_title)}개의 책|"></div>
	<div th:if="${C_Books == null}" th:text="|0개의 책|"></div>
	-->
	
	<!--검색-->
    <input type="text" id="search_kw" th:value="${kw}" placeholder="제목 또는 작가명으로 검색">
    <button id="search_btn">검색</button>
	
	<form th:action="@{|/prod|}" method="get" id="searchForm">
        <input type="hidden" id="send_genre" name="genre" th:value="${b_genre}">
        <input type="hidden" id="send_kw" name="kw" th:value="${kw}">
    </form>
	
	<!--b_list는 여기서 새로 만든 리스트. C_books의 리스트를 참조하겠단뜻-->
	<!--each는 반복. for문이랑 같음. 그안에 있는것들을 반복하겠다.-->
	<div th:each = "b_list : ${C_Books}" th:if="${b_genre == b_list.book_genre}">
		<div class="flex_wrap">
			<!--|prod/다음부턴 controller에서 map으로 잡아줘야한다.-->
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<!--Crawling에서 builder로 정한 변수?명-->
				<img th:src = "${b_list.book_img}" />
			</a>
		<div>
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<!-- <div th:text = "${b_list.book_id}"></div> -->
				<div th:text = "${b_list.book_title}"></div>
				<div th:text = "${b_list.book_price}"></div>
				<div th:text = "'장르 ' + ${b_list.book_genre}"></div>
				<div th:text = "${b_list.book_writer}"></div>
				<div th:text = "${b_list.book_intro}" class="l_intro_wrap"></div>
			</a>
		</div>
		</div>
	<hr>
	</div>
	<!--책 전체 출력. /prod인건 b_genre값이 없어서 위의 코드가 실행안됨.-->
	<div th:each = "b_list : ${C_Books}" th:if="${b_genre == ''}">
		<div class="flex_wrap">
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<img th:src = "${b_list.book_img}" />
			</a>
		<div class="txt_wrap">
			<a th:href="@{|prod/detail/${b_list.book_id}|}">
				<div th:text = "${b_list.book_title}"></div>
				<div th:text = "${b_list.book_price}"></div>
				<div th:text = "'장르 ' + ${b_list.book_genre}"></div>
				<div th:text = "${b_list.book_writer}"></div>
				<div th:text = "${b_list.book_intro}" class="l_intro_wrap"></div>
			</a>
		</div>
		</div>
	<hr>
	</div>
	</body>
	
	<script th:inline="javascript">
	const btn = document.getElementById("search_btn");
	
	// 클릭 이벤트가 일어났을때 사용될 함수.
	btn.addEventListener('click', function() {
		// 검색창(search_kw)에서 입력된 값을 send_kw라는 인풋값에 할당함. 그리고 searchForm을 서버에 전송함.
	    document.getElementById('send_kw').value = document.getElementById('search_kw').value;
	    document.getElementById('searchForm').submit();
	});
	
	</script>
</div>
</html>