<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<title>상품페이지</title>
	<style>
		a {
			text-decoration: none;
		}
		
		.flex_wrap {
			display: flex;
			gap: 50px;
		}
		
		.txt_wrap {
			display: flex;
			flex-direction: column;
		}
		
	</style>
	</head>
	<body>
	<!--b_list는 여기서 새로 만든 리스트. C_books의 리스트를 참조하겠단뜻-->
	<!--each는 반복-->
	<div th:each = "b_list : ${C_Books}">
		<div class="flex_wrap">
		<!--|prod/다음부턴 controller에서 map으로 잡아줘야한다.-->
		<a th:href="@{|prod/detail?l_title=${b_list.book_title}&l_img=${b_list.book_img}&l_price=${b_list.book_price}&l_id=${b_list.book_id}|}">
			<!--Crawling에서 builder로 정한 변수?명-->
			<img th:src = "${b_list.book_img}" />
		</a>
		<div class="txt_wrap">
			<a th:href="@{|prod/detail?l_title=${b_list.book_title}&l_img=${b_list.book_img}&l_price=${b_list.book_price}&l_id=${b_list.book_id}|}">
					<div th:text = "${b_list.book_title}"></div>
					<div th:text = "${b_list.book_price}"></div>
					<div th:text = "${b_list.book_writer}"></div>
					<div th:text = "${b_list.book_id}"></div>
			</a>
		</div>
		</div>
		<hr>
	</div>
	</body>
</div>
</html>