<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2">거래 상세 정보</h2>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${trade.title}"></h5>
            <p class="card-text">가격: <span th:text="${trade.price}"></span></p>
            <p class="card-text">지은이: <span th:text="${trade.writer}"></span></p>
            <p class="card-text">소개: <span th:text="${trade.intro}"></span></p>
            <p class="card-text">게시일: <span th:text="${#temporals.format(trade.postdate, 'yyyy-MM-dd HH:mm')}"></span></p>
            <!-- 수정 링크 -->
            <a th:href="@{|/trade/edit/${trade.idx}|}" class="btn btn-sm btn-outline-primary" th:text="수정"></a>
            <!-- 삭제 링크 -->
            <a th:href="@{|/trade/delete/${trade.idx}|}" class="delete btn btn-sm btn-outline-secondary"
                th:text="삭제" onclick="return confirm('정말로 삭제하시겠습니까?');"></a>
            <button id="chatBtn" class="btn btn-primary" style="float:right;">채팅하기</button>
        </div>
    </div>
</div>

<script async th:inline="javascript">

</script>

</html>
