<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2">거래 목록</h2>
    <div th:each="trade : ${tradeList}" class="card my-3">
        <div class="card-body">
            <h5 class="card-title" th:text="${trade.title}"></h5>
            <p class="card-text">가격: <span th:text="${trade.price}"></span></p>
            <p class="card-text">작성자: <span th:text="${trade.writer}"></span></p>
            <p class="card-text">소개: <span th:text="${trade.intro}"></span></p>
            <p class="card-text">게시일: <span th:text="${#temporals.format(trade.postdate, 'yyyy-MM-dd HH:mm')}"></span></p>
            <!-- 삭제 링크 -->
            <a href="javascript:void(0);" th:data-uri="@{|/trade/delete/${trade.idx}|}" class="delete btn btn-sm btn-outline-secondary"
                th:text="삭제"></a>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    // 삭제 링크 클릭 시 확인 창
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>
